[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/suburbanmarine/spdlog.git
[submodule "external/simple-jsonrpc-js"]
	path = external/simple-jsonrpc-js
	url = https://github.com/suburbanmarine/simple-jsonrpc-js.git
[submodule "external/jquery"]
	path = external/jquery
	url = https://github.com/suburbanmarine/jquery.git
[submodule "external/jsonrpc-lean"]
	path = external/jsonrpc-lean
	url = https://github.com/suburbanmarine/jsonrpc-lean.git
[submodule "external/grpc-web"]
	path = external/grpc-web
	url = https://github.com/suburbanmarine/grpc-web.git
[submodule "external/js-cookie"]
	path = external/js-cookie
	url = https://github.com/suburbanmarine/js-cookie.git
[submodule "external/roboto-fonts"]
	path = external/roboto-fonts
	url = https://github.com/suburbanmarine/roboto-fonts.git
[submodule "external/cppzmq"]
	path = external/cppzmq
	url = https://github.com/suburbanmarine/cppzmq.git
[submodule "external/zcm"]
	path = external/zcm
	url = https://github.com/ZeroCM/zcm.git
