[Unit]
Description=opaleye
# Requires=network.target ptp4l.service chronyd.service
Requires=network.target
After=network.target

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/opt/suburbanmarine/opaleye/bin/opaleye
User=opaleye
Group=opaleye
RuntimeDirectory=opaleye
WorkingDirectory=/home/opaleye

[Install]
Alias=opaleye.service
WantedBy=multi-user.target
