<?xml version="1.0" encoding="UTF-8"?>
<config>
	<video_path>/mnt/video/opaleye/video</video_path>
	<image_path>/mnt/video/opaleye/image</image_path>
	<log_path>/mnt/video/opaleye/log</log_path>
	<h264_mode>nv</h264_mode>

	<sensors>
		<launch>false</launch>
	</sensors>

	<zeromq>
		<launch>false</launch>
		<endpoint>tcp://0.0.0.0:51000</endpoint>
		<endpoint>ipc:///opaleye/feeds/0</endpoint>
	</zeromq>

	<fcgi>
		<endpoint>127.0.0.1:50000</endpoint>
	</fcgi>

	<cameras>

		<camera>
			<name>cam0</name>
			<type>alvium</type>
			<properties>
			</properties>
			<pipeline>
				<name>pipe0</name>
				<type>alvium</type>
			</pipeline>
		</camera>

		<camera>
			<name>cam1</name>
			<type>virtual</type>

			<properties>
				<width>1920</width>
				<height>1280</height>
				<fps>30.0</fps>
			</properties>

			<pipeline>
				<name>pipe1</name>
				<type>virtual</type>
			</pipeline>
		</camera>

	</cameras>
</config>
